includes:
    - ./vendor/larastan/larastan/extension.neon

parameters:
    checkMissingIterableValueType: true

    level: 5

    paths:
        - app
        - config
        - bootstrap
        - database/factories
        - routes
