@tailwind base;

html {
    height: 100%;
}

body {
    min-height: 100%;

    @apply font-mono bg-gray-900 text-white;
}

#app {
    @apply flex flex-col p-8 min-h-screen items-center justify-center;
}

@tailwind components;
@tailwind utilities;

img.emoji {
    display: inline;
    height: 0.9em;
    width: 0.9em;
    margin: 0 .05em 0 .1em;
    vertical-align: 0em;
}
