@import "tailwindcss/base";

@import './base';

@import "tailwindcss/components";

@import './article';

@import "tailwindcss/utilities";

img.emoji {
    display: inline;
    height: 0.9em;
    width: 0.9em;
    margin: 0 .05em 0 .1em;
    vertical-align: 0em;
}
