@font-face {
  font-family: 'MonoLisa';
  src:  url('./fonts/MonoLisa-Regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'MonoLisa';
  src:  url('./fonts/MonoLisa-Bold.woff2') format('woff2');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

html {
    height: 100%;
}

body {
    min-height: 100%;

    @apply flex font-mono bg-gray-900 text-white;
}

#app {
    @apply flex flex-col items-center justify-center min-w-full;
}
